h1 {
  margin: 40px 0;
}

body {
	font-family: sans-serif;
	margin: 20px;
	background-color: #eee;
}

body * {
	transition: all 0.3s;
}

a {
	color: #000;
}

a:hover {
	text-shadow: 1em -1em;
}

header > nav > a:hover,
header > nav > a.current {
	color: #eee;
	background-color: #333;
}

header > nav > a {
	padding: 20px;
	display: inline-block;
}

.new-post textarea {
	display: block;
	height: 100px;
	width: 600px;
}

.new-post textarea + textarea{
	height: 300px;
}

.post {
	max-width: 500px;
	padding: 20px 40px;
	border: 1px solid;
	border-color: #000 transparent;
}

.post:hover {
	border-color: #000;
}

.post + .post{
	border-top: 0;
}

.post > h2 {
	margin: 0;
}

.post > .date {
	margin: 5px 0 20px 10px;
	color: #b44;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}
